<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1 class="text text-info">User List</h1>
            </div>
        </div>
        <div class="table table-dark">
            <ng-template pTemplate="header">
                <th>Sn</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </ng-template>


            <ng-template pTemplate="body"></ng-template>

        </div>
    </div>
    <script src="" async defer></script>
</body>

</html>